@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --first-color: hsl(336, 88%, 61%);
    --first-color-alt: hsl(0, 88%, 61%);
    --nav_height: 3.5rem;
    --title-font: "Readex Pro", sans-serif;
    --text-font: "Rubik", sans-serif;
    --title-color: hsl(250, 8%, 15%);
    --text-color: hsl(250, 8%, 35%);
    --body-color: hsl(250, 60%, 98%);
    --shadow: hsla(0, 0%, 15%, .1);
    --page-margin: calc(100% - 40px);
    --scroll-bar-color: hsl(250, 12%, 90%);
    --scroll-thumb-color: hsl(250, 12%, 80%);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--text-font);
    color: var(--text-color);

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html {
    scroll-behavior: smooth;
}



/*=============================================

                INDEX.html                                 

=============================================*/
body {
    background-color: var(--body-color);
}

h2 {
    font-family: var(--title-font);
}

.title {
    margin: 100px 0px 30px;
    color: var(--first-color);
    font-size: 16pt;
    font-weight: 500;
    text-align: center;
}

/* -----  Header ---- */
header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* -----  Navbar ---- */
#nav_container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    height: var(--nav_height);
    width: 100%;
    padding: 0px 40px;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px var(--shadow);
    z-index: 3;
}

#logo_wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav_logo>img {
    height: 30px;
    margin-top: 10px;
}

#logo_wrapper>p {
    margin: 0px 5px;
    font-size: 13px;
    font-family: var(--title-font), sans-serif;
}

.nav_list {
    flex: 1.5;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    column-gap: 1.5rem;
    list-style: none;
}

.nav_item a {
    font-size: 14px;
    text-decoration: none;
    font-family: var(--title-font), sans-serif;
}

#nav_btns {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

#nav-toggle {
    display: none;
}

.active-link {
    color: var(--first-color);
}

.hide {
    position: absolute;
    transform: translateY(-100%);
    transition: 0.3s transform ease;
}

.show {
    position: absolute;
    transform: translateY(0%);
    transition: 0.3s transform ease;
}

/* -----  Hero ---- */
#hero {
    display: flex;
    height: calc(100vh - var(--nav_height));
    margin-top: calc(var(--nav_height));
    background-color: var(--first-color);
}

.hero_sec {
    flex: 1;
    height: 100%;
}

.hero_sec:nth-child(1)>img {
    height: 100%;
}

/* Carousel */
#carousel-container {
    position: relative;
}

#carousel-items {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem 3rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.carousel-items-dot-container {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    width: 30px;
}

.carousel-items-dot {
    padding: 3px;
    background-color: var(--first-color);
    border-radius: 50%;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
#carousel-items::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    position: relative;
    height: 200px;
    min-width: 250px;
    max-width: 150px;
    cursor: pointer;
}

.carousel-item:hover {
    transform: scale(1.05);
}

.carousel-item:active {
    transform: scale(1);
}

.carousel-item>img {
    height: 100%;
    width: 100%;
    background-color: var(--first-color);
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--first-color);
}

.carousel-item>p {
    position: absolute;
    bottom: -30px;
    width: 100%;
    color: var(--first-color);
    font-family: var(--title-font);
    text-align: center;
    transform: translateX(5px);
}

/* Cards Container */

#cards_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: var(--page-margin);
    margin: 0px auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 23%;
    margin-bottom: 10px;
    border-radius: 13px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 1px 2px 3px rgba(100, 100, 100, 0.6);
    overflow: hidden;
    text-align: center;
}

.card-discount {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 20px;
    border-bottom-left-radius: 30px;
    background-color: var(--first-color);
    z-index: 1;
}

.card-discount-text {
    color: white;
    font-size: 10pt;
    font-weight: 500;
    font-family: var(--text-font);
    direction: rtl;
}

.card>img {
    width: 100%;
    margin-bottom: 8px;
    background-color: brown;
}

.card>img:hover {
    filter: grayscale(1);
}

.card_title {
    padding: 0px 5px;
    font-size: 10pt;
    font-family: var(--title-font);
}

.card-price,
.card-old-price {
    padding: 5px 0px 10px 0px;
    color: var(--first-color);
    font-weight: 700;
    direction: rtl;
}

.card-old-price {
    padding: 0px 0px 0px 0px;
    margin-top: -5px;
    color: rgba(100, 100, 100, 0.35);
    text-decoration: line-through;
}

.hide-old-price {
    display: none;
}

.card_buy {
    padding: 15px 0px;
    margin-top: 10px;
    color: white;
    background-color: var(--first-color);
    border-width: 0px;
    font-family: var(--title-font);
    cursor: pointer;
}

.card_buy:hover {
    color: var(--first-color);
    background-color: rgba(100, 100, 100, 0.08);
}

.card_buy:active {
    transform: scale(1.1);
}


footer {
    margin-top: 100px;
    border-top: 3px solid var(--first-color);
}

#footer-wrapper {
    display: flex;
    flex-direction: row;
    padding: 80px 0px 80px;
    direction: rtl;
}

.footer-section {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.footer-section:nth-child(1) h3 {
    margin: 0px;
    text-align: right;
}

.footer-section:nth-child(1) p {
    margin: 20px 0px 20px;
    cursor: pointer;
}

.footer-section:nth-child(1) p:hover {
    color: var(--first-color);
}

.footer-section:nth-child(2) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-section:nth-child(2) * {
    text-decoration: none;
    color: var(--first-color);
}

.footer-section:nth-child(2) p {
    color: var(--text-color);
    margin: 5px;
}


/*=============================================

                SINGLE.html                                 

=============================================*/
#product-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    direction: rtl;
    text-align: center;
}

.product-section {
    flex: 1;
    display: flex;

}

.product-section:nth-child(1) {}

.product-section:nth-child(1) img {
    width: 100%;
}


/* form dz */
#form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--first-color);
    border-radius: 3px;
}
.form-title {
    margin: 10px 0px 30px;
}
.from-inputs-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 0px 10px;
}
.from-input-div {
    position: relative;
    width: 45%;
}
.from-input-div-select{
    margin-top: -20px;
}
.from-input-div-full{
    width: 95%;
    margin-top: -20px;
}
.form-input {
    margin: 10px 0px;
    color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 3px;
    text-align: center;
}
.from-input-div input,
.from-input-div select {
    width: 100%;
    padding: 12px 0px;
    background: transparent;
    appearance: none;
}
.from-input-div label {
    position: absolute;
    top: 8px;
    right: 0;
    left: 0;
    padding: 10px 0;
    color: var(--first-color);
    transition: .3s;
    pointer-events: none;
}
.from-input-div input:focus~label,
.from-input-div input:valid~label,
.from-input-div select:focus ~ label,
.from-input-div select:valid ~ label {
    top: -20px;
    right: 5px;
    color: var(--text-color);
    font-size: 13px;
}











/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .60rem;
    background: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--first-color);
    border-radius: .5rem;
}

/* ----- Break Points ----- */

@media screen and (max-width: 767px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }

    /* Navbar */
    #nav_container {
        column-gap: 0rem;
        height: var(--nav_height);
        margin: 0px 0px;
        padding: 0px;
        z-index: 3;
    }

    #logo_wrapper {
        flex: 1;
        flex-flow: row-reverse;
        margin: 0px -50px -50px 0px;
    }

    .nav_logo>img {
        height: 50px;
    }

    #logo_wrapper>p {
        display: none;
    }

    .nav_list {
        display: none;
    }

    #nav_btns {
        flex: 1;
        position: relative;
        height: 100%;
    }

    #nav-toggle {
        display: flex;
        flex-flow: row-reverse;
    }

    #nav-toggle-i {
        margin-right: 20px;
        color: var(--first-color);
        font-size: 25pt;
    }

    #nav_btns_menu {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--body-color);
        z-index: 2;
    }

    #close_nav_menu {
        position: absolute;
        top: 25px;
        right: 25px;
        padding: 15px;
        border-radius: 50%;
        background-color: var(--first-color);
    }

    .nav_list_drawer_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
    }

    .nav_list_drawer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
        width: 100%;
    }

    .nav_list_drawer>.nav_item {
        text-align: center;
        list-style: none;
        width: 100%;
    }

    .nav__link {
        padding: 10px 20px;
    }

    /* Hero */
    #hero {
        height: 300px;
    }

    /* Carousel */
    .carousel-items-dot-container {
        right: 50%;
    }

    #carousel-items {
        justify-content: start;
    }

    /* Cards Container */
    .title {
        font-size: 14pt;
        font-weight: 500;
    }

    #cards_container {
        justify-content: space-around;
        gap: unset;
        width: 100%;
    }

    .card {
        width: 47%;
    }

    .card>img {
        width: 100%;
    }






    #footer-wrapper {
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .footer-section:nth-child(1) {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .footer-section div {
        width: 100%;
        text-align: center;
    }

    .footer-section div .title {
        text-align: center;
    }

}